@model Team_Project_4.ViewModels.test1
@{
    Layout = "_ManagerLayout";
}

<h2 style="text-align:center">LẬP HÓA ĐƠN</h2>
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Test2" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ngaylaphd" class="control-label">Ngày Lập Hóa Đơn</label>
                <input asp-for="Ngaylaphd" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" readonly />
                <span asp-validation-for="Ngaylaphd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CCCD" class="control-label">Nhập CCCD Khách Hàng</label>
                <input asp-for="CCCD" class="form-control" />
                <span asp-validation-for="CCCD" class="text-danger"></span>
            </div>
            <div class="form-group text-right">
                <!-- Align button to the right -->
                <button type="submit" class="btn btn-primary" >Tạo</button>
            </div>
        </form>
    </div>
</div>

