html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.table th {
    color: inherit; /* This will make the color the same as other table headers */
    font-weight: inherit; /* This will make the font weight the same as other table headers */
}

    .table th a {
        color: inherit; /* This will make the color the same as the table header */
        text-decoration: none; /* This will remove the underline */
    }

        .table th a:hover {
            color: inherit; /* This will prevent the color from changing when hovered over */
            text-decoration: none; /* This will prevent the underline from appearing when hovered over */
        }
